extends layout

block content
	.leaderboardhome
		h1 Recent World Records
		h3 Full Game Runs
		table.table.table-hover.table-sm.table-striped
			thead
				tr
					th(scope="col") Date
					th(scope="col") Category
					th(scope="col") Time+Video
					th(scope="col") Player
					th(scope="col") Nation
			tbody
				each run in main
					tr
						td= run.date
						td
							a(href='/history/' + run.category) #{run.readable}
						td
							a(href=run.link, target="_blank") #{run.time}
						td= run.name
						td= run.nationality
		h3 Individual Levels
		table.table.table-hover.table-sm.table-striped
			thead
				tr
					th(scope="col") Date
					th(scope="col") Category
					th(scope="col") Time+Video
					th(scope="col") Player
					th(scope="col") Nation
			tbody
				each run in il
					tr
						td= run.date
						td
							a(href='/history/' + run.category) #{run.readable}
						td
							a(href=run.link, target="_blank") #{run.time}
						td= run.name
						td= run.nationality
		h3 Category Extensions
		table.table.table-hover.table-sm.table-striped
			thead
				tr
					th(scope="col") Date
					th(scope="col") Category
					th(scope="col") Time+Video
					th(scope="col") Player
					th(scope="col") Nation
			tbody
				each run in catext
					tr
						td= run.date
						td
							a(href='/history/' + run.category) #{run.readable}
						td
							a(href=run.link, target="_blank") #{run.time}
						td= run.name
						td= run.nationality
