extends layout

block content
    div.leaderboard
        h1 #{category}
        h1 History
        table
            tr
                th Date
                th Time+Video
                th Player
                th Nation
                th Platform
                th Version
                th Duration (Days)
            each run in leaderboard
                tr
                    td=run.date
                    td
                        a(href=run.link target="_blank") #{run.time}
                    td=run.name
                    td(class="nationality")=run.nationality
                    td=run.platform
                    td=run.version
                    td=run.duration
