extends layout

block content
	.leaderboard
		h1 #{nationality} #{player}
		h1 Stats
		table.table.table-hover.table-sm.table-striped
			thead
				tr
					th Current WRs
					th Total WRs
					th Unique Categories
					th Total Duration (Days)
			tbody
				tr
					td #{current_wrs}
					td #{total_wrs}
					td #{unique_cats}
					td #{total_duration}

		h1 Official WRs
		table.table.table-hover.table-sm.table-striped
			thead
				tr
					th Date
					th Category
					th Time
					th Platform
					th Version
					th Duration (Days)
			tbody
				each run in runs
					tr
						if run.wr
							td <b>#{run.date}</b>
							td
								a(href='/history/' + run.abbreviation) <b>#{run.readable}</b>
							td
								a(href=run.link, target="_blank") <b>#{run.time}</b>
							td <b>#{run.platform}</b>
							td <b>#{run.version}</b>
							td <b>#{run.duration}</b>
						else
							td #{run.date}
							td
								a(href='/history/' + run.abbreviation) #{run.readable}
							td
								a(href=run.link, target="_blank") #{run.time}
							td #{run.platform}
							td #{run.version}
							td #{run.duration}
