extends layout

block Head
	// TODO
	- const title = 'Admin page';
	- const description = 'The admin page';
	- const url = full_url;
	- const type = 'website';
	- const image = '/cdn/favicon.png';

	title #{title}

	// Generic metadata
	meta(name="title", content=title)/
	meta(name="description", content=description)/

	// Open Graph / Facebook
	// Used by many others such as discord
	meta(property="og:title", content=title)/
	meta(property="og:url", content=url)/
	meta(property="og:type", content=type)/
	meta(property="og:image", content=image)/
	meta(property="og:description", content=description)/

	// Twitter
	meta(property="twitter:title", content=title)/
	meta(property="twitter:url", content=url)/
	meta(property="twitter:card", content=type)/
	meta(property="twitter:image", content=image)/
	meta(property="twitter:description", content=description)/

block content
	h1 Admin Portal
	br
	a(href="/admin/add") Add new runs
	br
	a(href="/admin/new_user") Add new runners
