extends layout

block Head
	// Meta data that should be used everywhere else 
	- const title = 'MCBE WR History';
	- const description = 'World record history for Minecraft: Bedrock Edition';
	- const url = full_url;
	- const type = 'website';
	- const image = '/cdn/favicon.png';

	title #{title}

	// Generic meta data
	meta(name="title", content=title)/
	meta(name="description", content=description)/

	// Open Graph / Facebook
	// Used by many others such as discord
	meta(property="og:title", content=title)/
	meta(property="og:url", content=url)/
	meta(property="og:type", content=type)/
	meta(property="og:image", content=image)/
	meta(property="og:description", content=description)/

	// Twitter
	meta(property="twitter:title", content=title)/
	meta(property="twitter:url", content=url)/
	meta(property="twitter:card", content=type)/
	meta(property="twitter:image", content=image)/
	meta(property="twitter:description", content=description)/

block content
	h1 #{pageTitle} World Records
	table.table.table-hover.table-sm.table-striped
		thead
			tr
				th(scope="col") Category
				th(scope="col") Time
				th(scope="col") Player
				th(scope="col") Nation
				th(scope="col") Date
				th(scope="col") Platform
				th(scope="col") Input
				th(scope="col") Version
				th(scope="col") Seed
				th(scope="col") Duration (Days)
		tbody
			each run in records
				tr
					td
						a(href='/history/' + run.abbreviation) #{run.readable}
					td
						a(href=run.link, target="_blank", rel="noreferrer") #{run.time}
					td
						a(href='/profile/' + run.runner_id) #{run.name}
					td #{run.nationality}
					td #{run.date}
					td #{run.platform}
					td #{run.input}
					td #{run.version}
					td #{run.seed}
					td #{run.duration}
