extends layout

block Head
	// Meta data that should be used everywhere else 
	- const title = 'Recent World Records';
	- const description = 'Recent world records for Minecraft: Bedrock Editions';
	- const url = full_url;
	- const type = 'website';
	- const image = '/cdn/favicon.png';

	title #{title}

	// Generic meta data
	meta(name="title", content=title)/
	meta(name="description", content=description)/

	// Open Graph / Facebook
	// Used by many others such as discord
	meta(property="og:title", content=title)/
	meta(property="og:url", content=url)/
	meta(property="og:type", content=type)/
	meta(property="og:image", content=image)/
	meta(property="og:description", content=description)/

	// Twitter
	meta(property="twitter:title", content=title)/
	meta(property="twitter:url", content=url)/
	meta(property="twitter:card", content=type)/
	meta(property="twitter:image", content=image)/
	meta(property="twitter:description", content=description)/

block content
	.leaderboardhome
		h1 Recent World Records
		h3 Full Game
		table.table.table-hover.table-sm.table-striped
			thead
				tr
					th(scope="col", row="Date") Date
					th(scope="col", row="Category") Category
					th(scope="col", row="Abbreviation") Category
					th(scope="col", row="Time") Time
					th(scope="col", row="Player") Player
					th(scope="col", row="Nation") Nation
			tbody
				each run in main
					if run !== undefined
						tr
							td(row="Date") #{run.date}
							td(row="Category")
								a(href='/history/' + run.abbreviation) #{run.readable}
							td(row="Abbreviation")
								a(href='/history/' + run.abbreviation) #{run.abbreviation}
							td(row="Time")
								a(href=run.link, target="_blank", rel="noreferrer") #{run.time}
							td(row="Player") 
								a(href='/profile/' + run.runner_id) #{run.name}
							td(row="Nation") #{run.nationality}

		h3 Individual Level
		table.table.table-hover.table-sm.table-striped
			thead
				tr
					th(scope="col", row="Date") Date
					th(scope="col", row="Category") Category
					th(scope="col", row="Abbreviation") Category
					th(scope="col", row="Time") Time
					th(scope="col", row="Player") Player
					th(scope="col", row="Nation") Nation
			tbody
				each run in il
					if run !== undefined
						tr
							td(row="Date") #{run.date}
							td(row="Category")
								a(href='/history/' + run.abbreviation) #{run.readable}
							td(row="Abbreviation")
								a(href='/history/' + run.abbreviation) #{run.abbreviation}
							td(row="Time")
								a(href=run.link, target="_blank", rel="noreferrer") #{run.time}
							td(row="Player") 
								a(href='/profile/' + run.runner_id) #{run.name}
							td(row="Nation") #{run.nationality}

		h3 Category Extensions
		table.table.table-hover.table-sm.table-striped
			thead
				tr
					th(scope="col", row="Date") Date
					th(scope="col", row="Category") Category
					th(scope="col", row="Abbreviation") Category
					th(scope="col", row="Time") Time
					th(scope="col", row="Player") Player
					th(scope="col", row="Nation") Nation
			tbody
				each run in catext
					if run !== undefined
						tr
							td(row="Date") #{run.date}
							td(row="Category")
								a(href='/history/' + run.abbreviation) #{run.readable}
							td(row="Abbreviation")
								a(href='/history/' + run.abbreviation) #{run.abbreviation}
							td(row="Time")
								a(href=run.link, target="_blank", rel="noreferrer") #{run.time}
							td(row="Player") 
								a(href='/profile/' + run.runner_id) #{run.name}
							td(row="Nation") #{run.nationality}
