extends layout

block Head
	// Meta data that should be used everywhere else 
	- const title = 'Login';
	- const description = 'For admins only!!!';
	- const url = full_url;
	- const type = 'website';
	- const image = '/cdn/favicon.png';

	title #{title}

	// Generic meta data
	meta(name="title", content=title)/
	meta(name="description", content=description)/

	// Open Graph / Facebook
	// Used by many others such as discord
	meta(property="og:title", content=title)/
	meta(property="og:url", content=url)/
	meta(property="og:type", content=type)/
	meta(property="og:image", content=image)/
	meta(property="og:description", content=description)/

	// Twitter
	meta(property="twitter:title", content=title)/
	meta(property="twitter:url", content=url)/
	meta(property="twitter:card", content=type)/
	meta(property="twitter:image", content=image)/
	meta(property="twitter:description", content=description)/

block content
	.home
		h1 Login

		if session.error
			h2 #{session.error}
		else
			h2 #{session.success}

		form(method="POST", action="/admin/login")
			.form-group
				p
					label Username:
					input.form-control(type="text", name="username", required)
				p
					label Password:
					input.form-control(type="password", name="password", required)
				p
					input(type="hidden", name="_csrf", value=csrfToken)
					input.btn.btn-primary(type="submit", value="Login")
