extends layout

block Head
	// Meta data that should be used everywhere else 
	- const title = `${player}'s profile`;
	- const description = `${player}'s world records`;
	- const url = full_url;
	- const type = 'website';
	- const image = '/cdn/favicon.png';

	title #{title}

	// Generic meta data
	meta(name="title", content=title)/
	meta(name="description", content=description)/

	// Open Graph / Facebook
	// Used by many others such as discord
	meta(property="og:title", content=title)/
	meta(property="og:url", content=url)/
	meta(property="og:type", content=type)/
	meta(property="og:image", content=image)/
	meta(property="og:description", content=description)/

	// Twitter
	meta(property="twitter:title", content=title)/
	meta(property="twitter:url", content=url)/
	meta(property="twitter:card", content=type)/
	meta(property="twitter:image", content=image)/
	meta(property="twitter:description", content=description)/

block content
	.leaderboard
		h1 #{nationality} #{player}
		h1 Stats
		table.table.table-hover.table-sm.table-striped
			thead
				tr
					th Current WRs
					th Total WRs
					th Unique Categories
					th Total Duration (Days)
					th Days with at Least 1 WR
			tbody
				tr
					td #{current_wrs}
					td #{total_wrs}
					td #{unique_cats}
					td #{total_duration}
					td #{time_with_wr}

		h1 Official WRs
		table.table.table-hover.table-sm.table-striped
			thead
				tr
					th Date
					th Category
					th Time
					th Platform
					th Version
					th Duration (Days)
			tbody
				each run in runs
					tr
						if run.wr
							td
								b #{run.date}
							td
								a(href='/history/' + run.abbreviation)
									b #{run.readable}
							td
								a(href=run.link, target="_blank", rel="noreferrer")
									b #{run.time}
							td
								b #{run.platform}
							td
								b #{run.version}
							td
								b #{run.duration}
						else
							td #{run.date}
							td
								a(href='/history/' + run.abbreviation) #{run.readable}
							td
								a(href=run.link, target="_blank", rel="noreferrer") #{run.time}
							td #{run.platform}
							td #{run.version}
							td #{run.duration}
